---
import N from "@n/N.astro";                 ///	[NameSpace]
let title = "KBVE.com - Projects, DevLogs, Applications and Data";
let description = "Our collection of public and private projects, including repos, data, information and extensions. The project page is an on-going collection that includes references to external projects, outside of the organization.";
import { getCollection } from "astro:content";
const projectEntries = await getCollection("project");
---
<N ns="theme" title={title} description={description} >
    <section class="py-6 sm:py-12">
        <div class="container p-6 mx-auto space-y-8">
          <div class="rounded-full space-y-2 text-center bg-offset p-4">
            <h2 class="text-3xl font-bold">Project Collection</h2>
            <p class="font-serif text-sm dark:text-gray-400">
              Collection of all the projects that we work on at KBVE.
            </p>
          </div>
    
          <div
            class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4"
          >
            {
              projectEntries.map((project) => (
                <>
                  <article class="flex bg-offset p-1 rounded-md shadow-md">
                    <div class="rounded-md shadow-md sm:w-96 ">
                      <div class="flex items-center justify-between p-3">
                        <div class="flex items-center space-x-2">
                          <img
                            src={project.data.img}
                            alt=""
                            class="object-cover object-center w-8 h-8 rounded-full shadow-sm "
                          />
                          <div class="-space-y-1">
                            <a
                              rel="noopener noreferrer"
                              href={`https://kbve.com/project/${project.slug}`}
                              aria-label=""
                            >
                              <h2 class="text-lg gradient-text font-semibold leading-none">
                                {project.data.title}
                              </h2>
                            </a>
                            <span class="inline-block text-xs leading-none dark:text-gray-400" />
                          </div>
                        </div>
                        <button title="Open options" type="button">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            class="w-5 h-5 fill-current"
                          >
                            <path d="M256,144a64,64,0,1,0-64-64A64.072,64.072,0,0,0,256,144Zm0-96a32,32,0,1,1-32,32A32.036,32.036,0,0,1,256,48Z" />
                            <path d="M256,368a64,64,0,1,0,64,64A64.072,64.072,0,0,0,256,368Zm0,96a32,32,0,1,1,32-32A32.036,32.036,0,0,1,256,464Z" />
                            <path d="M256,192a64,64,0,1,0,64,64A64.072,64.072,0,0,0,256,192Zm0,96a32,32,0,1,1,32-32A32.036,32.036,0,0,1,256,288Z" />
                          </svg>
                        </button>
                      </div>
    
                      <div
                        style={{ backgroundImage: `url(${project.data.img})` }}
                        class="object-cover flex  justify-center items-center flex-col shadow-2xl p-16 min-h-[15%]"
                      >
                        <a
                          rel="noopener noreferrer"
                          href={`https://kbve.com/project/${project.slug}`}
                          aria-label=""
                        >
                          <h1 class="title text-lg text-shadow-xl shadow-black bg-offset p-3 rounded-lg items-center line-clamp-1">
                            {project.data.title}
                          </h1>
                        </a>
                      </div>
    
                      <div class="p-3">
                        <div class="flex items-center justify-between">
                          <div class="flex items-center space-x-3">
                            <button
                              type="button"
                              title="Like post"
                              class="flex items-center justify-center"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                class="w-5 h-5 fill-current"
                              >
                                <path d="M453.122,79.012a128,128,0,0,0-181.087.068l-15.511,15.7L241.142,79.114l-.1-.1a128,128,0,0,0-181.02,0l-6.91,6.91a128,128,0,0,0,0,181.019L235.485,449.314l20.595,21.578.491-.492.533.533L276.4,450.574,460.032,266.94a128.147,128.147,0,0,0,0-181.019ZM437.4,244.313,256.571,425.146,75.738,244.313a96,96,0,0,1,0-135.764l6.911-6.91a96,96,0,0,1,135.713-.051l38.093,38.787,38.274-38.736a96,96,0,0,1,135.765,0l6.91,6.909A96.11,96.11,0,0,1,437.4,244.313Z" />
                              </svg>
                            </button>

                            <button
                              type="button"
                              title="Share post"
                              class="flex items-center justify-center"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                class="w-5 h-5 fill-current"
                              >
                                <path d="M474.444,19.857a20.336,20.336,0,0,0-21.592-2.781L33.737,213.8v38.066l176.037,70.414L322.69,496h38.074l120.3-455.4A20.342,20.342,0,0,0,474.444,19.857ZM337.257,459.693,240.2,310.37,389.553,146.788l-23.631-21.576L215.4,290.069,70.257,232.012,443.7,56.72Z" />
                              </svg>
                            </button>
                          </div>
                          <button
                            type="button"
                            title="Bookmark post"
                            class="flex items-center justify-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 512 512"
                              class="w-5 h-5 fill-current"
                            >
                              <path d="M424,496H388.75L256.008,381.19,123.467,496H88V16H424ZM120,48V456.667l135.992-117.8L392,456.5V48Z" />
                            </svg>
                          </button>
                        </div>
                        <div class="flex flex-wrap items-center pt-3 pb-1">
                          <div class="flex items-center space-x-2">
                            <div class="flex -space-x-1">
                              <img
                                alt=""
                                class="w-5 h-5 border rounded-full dark:bg-gray-500 dark:border-gray-800"
                                src="https://source.unsplash.com/40x40/?portrait?1"
                              />
                              <img
                                alt=""
                                class="w-5 h-5 border rounded-full dark:bg-gray-500 dark:border-gray-800"
                                src="https://source.unsplash.com/40x40/?portrait?2"
                              />
                              <img
                                alt=""
                                class="w-5 h-5 border rounded-full dark:bg-gray-500 dark:border-gray-800"
                                src="https://source.unsplash.com/40x40/?portrait?3"
                              />
                            </div>
                            <span class="text-sm">
                              Deploy by
                              <span class="font-semibold">VOID </span> or
                              <span class="font-semibold">Other</span>
                            </span>
                          </div>
                        </div>
                        <div class="flex flex-wrap p-2 justify-center text-xs ">
                            {project.data.tags.slice(0, 3).map((tags) => (
                              <a
                                rel="noopener noreferrer"
                                href={`https://kbve.com/t/${tags}`}
                                class="inline-block text-2xl font-semibold sm:text-3xl"
                              >
                                <span class="p-2 text-xs rounded-full bg-orange-500">
                                  #{tags}
                                </span>
                              </a>
                            ))}
                        </div>
                        <div class="space-y-3">
                          <p class="text-sm">
                            <span class="text-base font-semibold" />
                            <a
                              rel="noopener noreferrer"
                              href={`https://kbve.com/project/${project.slug}`}
                              aria-label=""
                            >
                              <span class="indent-px text-sm line-clamp-4">
                                {project.data.description}
                              </span>
                            </a>
                          </p>
    
                        </div>
                      </div>
                    </div>
                  </article>
                </>
              ))
            }
          </div>
        </div>
      </section>

</N>
