---
///     [IMPORTS]
import N from "@n/N.astro";                                 ///     [Astro]:{namespace}
import { getEntry } from 'astro:content';                   ///     [Astro]:{content}
///     [Privacy]:{data}
let	title = "KBVE.com - Privacy Policy - Legal";
let description = "KBVE Privacy Policy. The data protection and liability for KBVE and its applications, tools, services and user accounts.";
const privacy = await getEntry('legal', 'privacy.md');
const { Content } = await privacy.render();
---
<N ns="theme" title={title} description={description}>
    <!-- <N ns="controller" template="collections" id="legal" data="privacy.md" /> -->
       <article class="px-6 py-24 mx-auto space-y-12 dark:bg-gray-800 dark:text-gray-50">
        <div class="p-5 bg-offset">
            <Content />
        </div>
    </article> 
</N>