---
import AssetCard from "./AssetCard.astro";
import AssetCarousel from "./AssetCarousel";

const assets = await fetch('https://kbve.com/asset/asset.json').then((response) =>
  response.json()
);
---

<div class="2xl:container 2xl:mx-auto 2xl:px-0 py-3 px-10">
  <AssetCarousel client:only="react"  />
</div>


<!-- <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" id="projection">
    <div class="grid gap-8 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full">
       
        {assets.map(({ title, img, slug, description, tags }) => (
              <AssetCard title={title} img={img} url={slug} description={description} tags={tags} />
        ))}
    </div>
</div> -->