---
///     [@c] -> [Scene] -> [Journal]
///     The objective of this scene is to structure journal entries and render them in an artistic flow for the end users.

///     [Astro] -> {props}
const { journalJSON = null, ui, li } = Astro.props;		

///     {journalJSON} -> {@process()}
let posts;
if(journalJSON){
  posts = await fetch(journalJSON).then((response) =>  response.json());
}
---

<div>
    <ul class="p-4 space-y-8 lg:p-8 dark:bg-gray-800 dark:text-gray-100">
      {posts.map(post => 
          (
          <li id={post.title}>
          <article class="bg-offset rounded-xl p-4">
          <h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9 gradient-text">{post.title}</h3>
          <time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 dark:text-gray-400">{post.date}</time>
          <h4>{post.description}</h4>
          <p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 dark:text-gray-300" set:html={post.content}></p>
          </article>
          </li>  
          )
          )}
    </ul>
</div>