---
///             [LOGIN]
///             <Login:Template>: Currently allowing the basic login through Strapi, not including any OAuth integrations.
///             [MIGRATION]: Integrate the {N} : Namespace and remove the [CORE]/[SWUP]
///	            [IMPORT]
import Login from "@c/Scene/Authentication/Login/Login.astro"; /// [Login]
import Lottie from "@c/Element/Lottie/Lottie.astro"; /// [Lottie]
import N from "@n/N.astro"; /// {Namespace}:{N}
///             [DATA]
const { content } = Astro.props; /// [Astro]
let title = "KBVE Login Portal";
let description =
  "KBVE Universal Login Portal - Allows the user to log into the KBVE platform.";
---

<N ns="theme" title={title} description={description}>
  <section class="">
    <div class="grid py-24 space-y-8" id="root">
      <section
        class="bg-offset relative justify-self-center lg:col-span-5 lg:h-full xl:col-span-6 rounded-3xl"
      >
        <Lottie
          json="https://assets4.lottiefiles.com/packages/lf20_gjmecwii.json"
          width="350px"
        />

        <div class="py-12 px-12">
          <Login />
        </div>
      </section>

      <section
        class="space-y-8 bg-offset relative justify-self-center lg:col-span-5 lg:h-full xl:col-span-6 py-10 p-4 rounded-3xl"
      >
        Log in via SSO Disabled.
      </section>
    </div>
  </section>
</N>
