---
///				[LOGOUT]:Template
///				[MIGRATION]: Removal the CORE/SWUP and integrate the {N} : Namespace.
///				[PLAN]: Astro Cookies Integration might still be on the table, regardless we should make sure that it deletes all cookies.
///				[PLAN]: Clear LocalStorage , NanoStorage and all additional data entries. A solid wipe, plus remove JWT from Rust endpoints* Do Not Forget!
///				[IMPORT]
import Logout from "@c/Scene/Authentication/Logout"; /// [Logout]:<React>
import N from "@n/N.astro"; /// {Namespace}:{N}
///				[DATA]
const { data, id, template } = Astro.props;
let title = "KBVE Logout";
let description = "Logout of the platform!";
---

<N ns="theme" title={title} description={description}>
  <div class="px-8 py-24 space-y-8" id="root">
    <Logout client:only="react" />
  </div>
</N>
