---
/// [WIP]
/// Main Asset Module
import Core from "@l/theme/core.astro";			///	[IMPORT]  ->  [CORE]
import SWUP from "@l/theme/swup.astro";			///	[SWUP]    ->  Currently facing {hydration} issues #102
/// Import _core
interface Frontmatter {
  title: string;
  description?: string;
  date?: string;
}
const posts = await Astro.glob<Frontmatter>('./_core/_journal/*.md');
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
/// {data}
const data = {
	title: "KBVE.com - Asset Module", description: "Asset Class - Collection of Assets"}	
const { content = data } = Astro.props;		
const apps = await fetch('https://kbve.com/application/application.json').then((response) =>  response.json());

---
<Core content={content}>
  <SWUP>
      <div class="px-8 py-24 space-y-8">
      </div>
      <div>
        <ul class="p-4 space-y-8 lg:p-8 dark:bg-gray-800 dark:text-gray-100">
          {posts.map(post => 
              (
              <li>
              <article class="bg-offset rounded-xl p-4">
              <h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9 gradient-text">{post.frontmatter.title}</h3>
              <time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 dark:text-gray-400">{post.frontmatter.date}</time>
              <h4>{post.frontmatter.description}</h4>
              <p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 dark:text-gray-300" set:html={post.compiledContent()}></p>
              </article>
              </li>  
              )
              )}
        </ul>
      </div>
  </SWUP>
</Core>

