---
import ProjectCard from "./ProjectCard.astro";


// import Icon from "astro-icon"; <Icon class="h-full" name={link.icon} />

//const {title } = Astro.props;
const projects = await fetch('https://kbve.com/asset/asset.json').then((response) =>
  response.json()
);
---

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" id="projection">
    <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
        <!-- {Scene -> Projects} -> [START] -->
       
        {
            projects.map(({ title, img, slug, description, tags }) => (
              <ProjectCard title={title} img={img} url={slug} description={description} tags={tags} />
            ))
          }
        <!-- {Scene -> Projects} -> [END] -->
    </div>
  </div>