---
//?				{asset}:{crypto}:Template
///				[MIGRATION]: We plan to move the template for {crypto} collections into their own customized interface.
//!				[TO:DO]	Charts. There will be an official issue ticket for Charts on {crypto}.
//?				[DATA]
const { content } = Astro.props; ///	[Astro Props]
---

<div class="px-4 py-12 space-y-8">
  <style>
    .kbvehero {
      padding: 8rem;
      display: flex;
      background-color: var(--t-fg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 25vw;
      color: white;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  </style>
  <div
    style={{ backgroundImage: `url(${content.img})` }}
    class="kbvehero rounded-full shadow-2xl hover:skew-y-6 transform-gpu duration-300"
  >
    <h1 class="title text-9xl text-shadow shadow-black">{content.title}</h1>
  </div>
</div>

<div class="px-4 py-8 space-y-1">
  <div class="shadow-2xl p-4 bg-offset text-center rounded-3xl">
    {content.description}
  </div>
  <div class="shadow-2xl p-4 bg-offset rounded-3xl">
    <div
      class="prose max-w-none prose-td:text-secondary prose-tr:text-primary prose-p:text-secondary prose-a:text-primary prose-code:text-primary prose-code:before:content-none prose-code:after:content-none prose-headings:text-primary prose-ul:text-secondary"
    >
      <slot />
    </div>
  </div>
</div>
