---
const { content } = Astro.props; ///	[Astro Props]
import Ads from '@w/Ads.astro'; //? AAds
import VideoComponent from '@c/Element/Video/Video.astro';
import Lottie from '@c/Element/Lottie/Lottie.astro'; //    [Lottie]
import TypeWriter from '@lib/typewriter.jsx';
import TypewriterMacro from '@lib/TypewriterMacro.jsx';

/*
let right = 0;
let left = 0;

let rightURL = '/';
let leftURL = '/';

if((content.end))
{
	left = content.scene - 1;
	leftURL = `${left}`;
	rightURL = `end`;

}
else if(content.scene == 1)
{
	leftURL = 'index.html';
	rightURL = '2';
}
else if(content.scene > 1)
{
	left = content.scene - 1;
	right = content.scene + 1;
	leftURL = `${left}`;
	rightURL = `${right}`;
}

*/

let leftURL = '';
let rightURL = '';

if (content.sceneleft && content.sceneright) {
	leftURL = content.sceneleft;
	rightURL = content.sceneright;
}
---

<main class="" id="manga">
	<!-- Removed overflow-y-auto -->
	<article
		class="overflow-hidden overscroll-y-none no-scrollbar grow relative flex flex-col h-screen m-0"
	>
		<!-- [SCENE]    ->  [BG] -->
		<div
			class={`relative bg-cover overflow-hidden order-1 h-full ${content.effect}`}
			style={{ backgroundImage: `url(${content.img})` }}
		>
			<button data-modal-target="lore-modal" data-modal-toggle="lore-modal" class="block min-w-[120px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center m-4 " type="button">
			Lore
			</button>
			<button data-modal-target="inventory-modal" data-modal-toggle="inventory-modal" class="block min-w-[120px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center m-4 " type="button">
			Inventory
			</button>
			<slot />
		</div>
		<div class="min-h-[96px] flex order-4 border border-indigo-500/[.5]">
			<a href={leftURL} rel="prefetch" class="w-1/2">
				<Lottie json="/assets/json/lottie/left.json" styler="flex-none h-24" />
				<!-- <i class="fa-light fa-plus-large"></i> -->
			</a>

			<a href={rightURL} rel="prefetch" class="w-1/2">
				<Lottie json="/assets/json/lottie/right.json" styler="flex-none h-24" />
				<!-- <i class="fa-light fa-arrow-right-long"></i> -->
			</a>
		</div>
	</article>
	<!-- Large Modal -->
	<div
		id="lore-modal"
		tabindex="-1"
		class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
	>
		<div class="relative w-full max-w-4xl max-h-full">
			<!-- Modal content -->
			<div class="relative bg-default rounded-lg shadow ">
				<!-- Modal header -->
				<div
					class="flex items-center justify-between p-5 border-b rounded-t "
				>
					<h3 class="text-xl font-medium gradient-text ">
						 Page Lore for {content.title}
					</h3>
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
						data-modal-hide="lore-modal"
					>
						<svg
							aria-hidden="true"
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
						<span class="sr-only">Close modal</span>
					</button>
				</div>
				<!-- Modal body -->
				<div class="p-6 space-y-6 bg-offset">
					<p class="text-base leading-relaxed">
						{content.lore ? content.lore : `There currently is no lore for this page`}
					</p>
					<p class="text-base leading-relaxed  border-t border-gray-200 p-2 ">
						{content.description ? content.description : `There currently is no description for this page`}
					</p>
				<!-- Modal footer -->
				<div
					class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b "
				>
					<button
						data-modal-hide="lore-modal"
						type="button"
						class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
						>Close</button
					>
					<!--
					<button
						data-modal-hide="lore-modal"
						type="button"
						class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 "
						>Decline</button
					>
					 -->
				</div>
			</div>
		</div>
	</div>
</main>
