---
const { content } = Astro.props; ///	[Astro Props]
import Ads from '@w/Ads.astro'; //? AAds
import VideoComponent from '@c/Element/Video/Video.astro';
import Lottie from '@c/Element/Lottie/Lottie.astro'; //    [Lottie]
import TypeWriter from '@lib/typewriter.jsx';
import TypewriterMacro from '@lib/TypewriterMacro.jsx';

let right = 0;
let left = 0;

let rightURL = '/';
let leftURL = '/';

if((content.end))
{
	left = content.scene - 1;
	leftURL = `${left}`;
	rightURL = `end`;

}
else if(content.scene == 1)
{
	leftURL = 'index.html';
	rightURL = '2';
}
else if(content.scene > 1)
{
	left = content.scene - 1;
	right = content.scene + 1;
	leftURL = `${left}`;
	rightURL = `${right}`;
}

---



<main data-taxi>
	<!-- Removed overflow-y-auto -->
	<article data-taxi-view>
		<div class="grow relative overflow-hidden flex flex-col h-screen m-0">
		<!-- [SCENE]    ->  [BG] -->
		<div
			class="relative bg-cover overflow-hidden order-1 h-full"
			style={{ backgroundImage: `url(${content.img})` }}
		>
			<div class="w-4/5"></div>
			<div class="absolute bottom-0 right-0">
			 <img src={content.character} class="flex" />
			</div>

			<div
				class="absolute bg-black/60 bottom-0 rounded-3xl shadow-md w-full indent-8 visible p-4"
			>
			{(content.charactername ? content.charactername : '...')} <slot />    
			</div>
		</div>


		<div class="h-1/6 flex order-4 border border-indigo-500/[.5]">
			<a href={leftURL} rel="prefetch"
				class="w-1/2"
			>
				<Lottie
					json="/assets/json/lottie/left.json"
					styler="flex-none h-16 lg:h-32"
				/>
				<i class="fa-light fa-plus-large"></i>
			</a>

			<a href={rightURL} rel="prefetch" class="w-1/2">
			
				<Lottie
					json="/assets/json/lottie/right.json"
					styler="flex-none h-16 lg:h-32"
				/>
				<i class="fa-light fa-arrow-right-long"></i>
			</a>
		</div>
		</div>
	</article>
</main>
