---
import N from "@n/N.astro"; //?	{Namespace}:{N}
const { content } = Astro.props; ///	[Astro Props]
---

<div
  style={{ backgroundImage: `url(${content.img})` }}
  class={`bg-contained bg-center bg-no-repeat md:bg-cover object-contain flex justify-center items-center flex-col shadow-2xl md:p-32 p-12 `}
>
  <h1 class="title md:text-6xl text-5xl text-white text-shadow-lg shadow-black">
    {content.title}
  </h1>
</div>
<div class="shadow-2xl shadow-fuchsia-400 p-4 text-center rounded-b-3xl gradient-text">
  {content.description}
</div>

<!-- Disabled Ad aboved fold.
<div class="">
  <N ns="ads" template="mdx" id="ezoic" />
</div>
-->

<!-- Wide center column -->
<div class="flex flex-wrap">
  <div class="w-full md:w-1/12"></div>
  <div class="w-full md:w-10/12">
    <div class="shadow-2xl  p-4 bg-offset rounded-3xl">
      <div
        class="prose max-w-none prose-td:text-secondary prose-tr:text-primary prose-p:text-secondary prose-a:text-primary prose-code:text-primary prose-code:before:content-none prose-code:after:content-none prose-headings:text-primary prose-ul:text-secondary"
      >
        <slot />
      </div>
    </div>
  </div>
 <div class="w-full md:w-1/12"></div>
</div>
