---
const { content } = Astro.props; ///	[Astro Props]
import Ads from "@w/Ads.astro"; //? AAds
import VideoComponent from "@c/Element/Video/Video.astro";
---

<div
  class="flex flex-wrap mb-12 justify-center items-center bg-fixed bg-center bg-cover overflow-auto"
  style={{ backgroundImage: `url(${content.img})` }}
>
  <div
    class="relative w-96 m-4 md:w-full bg-offset rounded-3xl"
  >
    <div class="shadow-md">
      <div class="flex flex-col md:flex-row">
        <!-- Main Title / Description -->
        <div class="grow space-y-2 justify-between p-6">
          <h2 class="text-lg font-semibold tracking-wide">{content.title}</h2>
          <p class="text-default text-xs">{content.description}</p>
          <div class="relative inset-x-0 bottom-0 p-4">
            {
              content.tags.slice(0, 3).map((tags) => (
                <a
                  rel="noopener noreferrer"
                  href={`https://kbve.com/t/${tags}`}
                  class="inline-block text-2xl font-semibold sm:text-3xl"
                >
                  <span class="p-2 m-1 text-xs rounded-full bg-orange-500">
                    #{tags}
                  </span>
                </a>
              ))
            }
          </div>
        </div>
        <!-- Additional Field -->
        <div class="grow space-y-2 p-6 relative m-4 justify-center bg-offset rounded-3xl">
            <Ads adNetwork="ezoic" id="123" />
        </div>
      </div>
    </div>


   
  </div>


  <!-- Main Content -->
  <div class="min-w-fit m-4">
    <div class="shadow-2xl p-4 bg-offset rounded-3xl">
      <div
        class="prose max-w-none prose-td:text-secondary prose-tr:text-primary prose-p:text-secondary prose-a:text-primary prose-code:text-primary prose-code:before:content-none prose-code:after:content-none prose-headings:text-primary prose-ul:text-secondary"
      >
        <slot />
      </div>
    </div>
  </div>
  <!-- MDX END -->
</div>
